OOPS CONCEPTS ASSIGNMENT.

In [7]:
#Q!: Create a parent class Animal with a method speak() that prints a generic message.Create a child class Dog
#that overrides the speak() method to print "Bark!"
class Dog:
    def speak(self):
        print("Bark!")

dog=Dog()
dog.speak()

Bark!

In [11]:
##Q2:Write a program to create an abstract class Shape with a method area(). Derive classes Circle and Rectangle
#from it and implement the area() method in both.
from abc import ABC, abstractmethod
from abc import ABC, abstractmethod

class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Rectangle(Shape):
    def area(self):
        return 10 * 20

rectangle = Rectangle()
print(rectangle.area())

200

In [12]:
##Q3:
from abc import ABC, abstractmethod

class Vehicle(ABC):
    @abstractmethod
    def start_engine(self):
        pass

class Car(Vehicle):
    def start_engine(self):
        return "Car engine started"

car = Car()
print(car.start_engine())

Car engine started

In [13]:
#Q4:
class Bird:
    def fly(self):
        return "Birds can generally fly."

class Sparrow(Bird):
    def fly(self):
        return "Sparrows fly in the sky."

class Penguin(Bird):
    def fly(self):
        return "Penguins cannot fly, but they can swim."

def bird_fly(bird):
    return bird.fly()

sparrow = Sparrow()
penguin = Penguin()
print(bird_fly(sparrow))
print(bird_fly(penguin))

Sparrows fly in the sky.
Penguins cannot fly, but they can swim.

In [16]:
#Q5:
class Bank_Account:
    def __init__(self):
        self.balance=0
        print("Hello!!! Welcome to the Deposit & Withdrawal Machine")

    def deposit(self):
        amount=float(input("Enter amount to be Deposited: "))
        self.balance += amount
        print("\n Amount Deposited:",amount)

    def withdraw(self):
        amount = float(input("Enter amount to be Withdrawn: "))
        if self.balance>=amount:
            self.balance-=amount
            print("\n You Withdrew:", amount)
        else:
            print("\n Insufficient balance  ")

    def display(self):
        print("\n Net Available Balance=",self.balance)
s = Bank_Account()
s.deposit()
s.withdraw()
s.display()

Hello!!! Welcome to the Deposit & Withdrawal Machine
Enter amount to be Deposited: 500

 Amount Deposited: 500.0
Enter amount to be Withdrawn: 200

 You Withdrew: 200.0

 Net Available Balance= 300.0

In [17]:
##Q6:
class Instrument:
    def play(self):
        print("Playing instrument")
class Guitar(Instrument):
    def play(self):
        print("Strumming the guitar")
class Piano(Instrument):
    def play(self):
        print("Playing the piano")
def demonstrate_play(instrument):
    instrument.play()
my_instrument = Instrument()
my_guitar = Guitar()
my_piano = Piano()

demonstrate_play(my_instrument)
demonstrate_play(my_guitar)
demonstrate_play(my_piano)

Playing instrument
Strumming the guitar
Playing the piano

In [18]:
##Q7:
class MathOperations:
    @classmethod
    def add_numbers(cls, num1, num2):
        return num1 + num2
    @staticmethod
    def subtract_numbers(num1, num2):
        return num1 - num2
result_add = MathOperations.add_numbers(10, 5)
print(f"Addition Result: {result_add}")
result_subtract = MathOperations.subtract_numbers(10, 5)
print(f"Subtraction Result: {result_subtract}")

Addition Result: 15
Subtraction Result: 5

In [21]:
##Q8:
class Person:
    total_persons = 0

    def __init__(self, name, age):
        self.name = name
        self.age = age
        Person.total_persons += 1

    @classmethod
    def get_total_persons(cls):
        return cls.total_persons
person1 = Person("Alice", 30)
person2 = Person("Bob", 25)
person3 = Person("Charlie", 35)
total = Person.get_total_persons()
print(f"Total persons created: {total}")

Total persons created: 3

In [22]:
##Q9:
class Fraction:
    def __init__(self, numerator, denominator):
        self.numerator = numerator
        self.denominator = denominator
    def __str__(self):
        return f"{self.numerator}/{self.denominator}"
fraction1 = Fraction(3, 4)
fraction2 = Fraction(5, 6)
print(fraction1)
print(fraction2)

3/4
5/6

In [23]:
#Q10:
class Vector:
    def __init__(self, x, y):
        self.x = x
        self.y = y


    def __add__(self, other):
        return Vector(self.x + other.x, self.y + other.y)
    def __str__(self):
        return f"({self.x}, {self.y})"
vector1 = Vector(2, 3)
vector2 = Vector(4, 1)
result = vector1 + vector2
print(f"Vector 1: {vector1}")
print(f"Vector 2: {vector2}")
print(f"Result of addition: {result}")

Vector 1: (2, 3)
Vector 2: (4, 1)
Result of addition: (6, 4)

In [25]:
##Q11:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age
    def greet(self):
        print(f"Hello, my name is {self.name} and I am {self.age} years old.")
person1 = Person("Sarvesh", 24)
person1.greet()

Hello, my name is Sarvesh and I am 24 years old.

In [26]:
##Q12:
class Student:
    def __init__(self, name, grades):
        self.name = name
        self.grades = grades

    def average_grade(self):
        if len(self.grades) == 0:
            return 0
        return sum(self.grades) / len(self.grades)
student1 = Student("Alice", [85, 90, 88, 92, 87])
average = student1.average_grade()
print(f"{student1.name}'s average grade is: {average:.2f}")

Alice's average grade is: 88.40

In [27]:
##Q13:
class Rectangle:
    def __init__(self):
        self.width = 0
        self.height = 0
    def set_dimensions(self, width, height):
        self.width = width
        self.height = height
    def area(self):
        return self.width * self.height
rect = Rectangle()
rect.set_dimensions(5, 8)
area = rect.area()
print(f"The area of the rectangle is: {area}")

The area of the rectangle is: 40

In [28]:
##Q14:
class Employee:
    def __init__(self, name, hours_worked, hourly_rate):
        self.name = name
        self.hours_worked = hours_worked
        self.hourly_rate = hourly_rate
    def calculate_salary(self):
        return self.hours_worked * self.hourly_rate
class Manager(Employee):
    def __init__(self, name, hours_worked, hourly_rate, bonus):
        super().__init__(name, hours_worked, hourly_rate)
        self.bonus = bonus
    def calculate_salary(self):
        base_salary = super().calculate_salary()
        return base_salary + self.bonus
employee1 = Employee("Alice", 160, 25)
manager1 = Manager("Bob", 160, 30, 500)
print(f"{employee1.name}'s salary is: ${employee1.calculate_salary()}")
print(f"{manager1.name}'s salary is: ${manager1.calculate_salary()}")

Alice's salary is: $4000
Bob's salary is: $5300

In [29]:
##Q15:
class Product:
    def __init__(self, name, price, quantity):
        self.name = name
        self.price = price
        self.quantity = quantity
    def total_price(self):
        return self.price * self.quantity
product1 = Product("Laptop", 1000, 3)
total = product1.total_price()
print(f"The total price of {product1.name} is: ${total}")

The total price of Laptop is: $3000

In [30]:
##Q16:
from abc import ABC, abstractmethod
class Animal(ABC):
    @abstractmethod
    def sound(self):
        pass
class Cow(Animal):
    def sound(self):
        return "Moo"
class Sheep(Animal):
    def sound(self):
        return "Baa"
cow = Cow()
sheep = Sheep()
print(f"The cow says: {cow.sound()}")
print(f"The sheep says: {sheep.sound()}")

The cow says: Moo
The sheep says: Baa

In [31]:
##Q17:
class Book:
    def __init__(self, title, author, year_published):
        self.title = title
        self.author = author
        self.year_published = year_published
    def get_book_info(self):
        return f"Title: {self.title}\nAuthor: {self.author}\nYear Published: {self.year_published}"
book1 = Book("To Kill a Mockingbird", "Harper Lee", 1960)
print(book1.get_book_info())

Title: To Kill a Mockingbird
Author: Harper Lee
Year Published: 1960

In [32]:
##Q18:
class House:
    def __init__(self, address, price):
        self.address = address
        self.price = price
    def get_info(self):
        return f"Address: {self.address}\nPrice: ${self.price}"
class Mansion(House):
    def __init__(self, address, price, number_of_rooms):
        super().__init__(address, price)
        self.number_of_rooms = number_of_rooms
    def get_info(self):
        base_info = super().get_info()
        return f"{base_info}\nNumber of Rooms: {self.number_of_rooms}"
house1 = House("123 Elm St", 250000)
mansion1 = Mansion("456 Oak Rd", 5000000, 10)
print(house1.get_info())
print("------")
print(mansion1.get_info())

Address: 123 Elm St
Price: $250000
------
Address: 456 Oak Rd
Price: $5000000
Number of Rooms: 10